<div class="block">
    <mat-card>
        <mat-toolbar class="shadow-small" color="primary">Hytrack Login</mat-toolbar>
      <form>
        <mat-form-field>
            <input #username matInput placeholder="Username">
        </mat-form-field>
        <mat-form-field>
            <input #password matInput type="password" placeholder="Password">
        </mat-form-field>
        <mat-card-actions>
            <button type='button' (click)="onLoginClick(username.value,password.value)" color="primary" mat-raised-button >Login</button>
        </mat-card-actions>
      </form>
    </mat-card>
</div>